<adf-sidenav-layout>
    
<adf-sidenav-layout-header>
    <ng-template let-toggleMenu="toggleMenu">
    <mat-toolbar color="primary" class="adf-app-layout-toolbar mat-elevation-z6">
     <button style="width:25px;" mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex="1 1 auto" fxShow fxHide.lt-sm="true">ADF</span>
    <div class="adf-app-layout-menu-spacer"></div>
    <adf-userinfo
    namePosition="left">
    </adf-userinfo>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClickSignout()">
        <span>SignOut</span>
      </button>
    </mat-menu>
    </mat-toolbar>
    </ng-template>
    
    </adf-sidenav-layout-header>
    </adf-sidenav-layout>