a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  a.previous.round {
    background-color: orange;
    border-radius: 150%;
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar{
    background-color: orange;
  }